<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>

<table>
    <tr><td>Name</td><td>Age</td><td>Password</td><td>Role</td><td></td></tr>
    <div th:each="user : ${users}">
    <tr><th th:text="${user.getName()}">VALUE</th><th th:text="${user.getAge()}">VALUE</th>
        <th th:text="${user.getPassword()}">VALUE</th><th th:text="${user.authorities}">VALUE</th>
    <th> <form method="GET" th:action="@{/admin/users/{id} (id = ${user.getId()})}">
        <input type="submit" value="info">
    </form> </th></tr>
        </div>
</table>
<br/>
<hr/>
<form method="GET" th:action="@{/admin/users/new}">
    <input type="submit" value="Create new user">
</form>
<br/>
<form method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>

