<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Enter age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <select name="roles" class="form-select" required multiple size="2">
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.roleName}"></option>
    </select>
    <br/>
    <input type="submit" value="Create"/>
</form>
<hr/>
<br/>
<form method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>